

<% if current_user %>
	<h1>Assess a new graduate</h1>	
	<%= render 'form' %>

<% else %>





	<h1>Here's an Example of a Grad Assessment</h1>	
	<br/>
	<div class="row">

    <div class="large-12 columns"> 
      <div class="panel">
        
          <h4>Create, observe and assess your graduates like the assessment below.    <%= link_to 'Create a free account', new_user_registration_path, class: "button success radius" %></h4>
 
      </div>
    </div>
    



    <div class="large-12 columns"> 
    	<fieldset>
  			<legend><h3 class="hide-for-small">Example Graduate Assessment</h3></legend>
          <%= image_tag "assessment.jpg" %><br>
          <!-- <h3 class="show-for-small">GradScore<hr/></h3> -->
      </fieldset>    
		</div>

    <div class="hide-for-small">
      <div class="large-12 columns">
        
          <div class="row">
            <div class="small-3 small-centered columns">
              <h5>Sign Up</h5>
              <h6 class="subheader">Create a new account and start assessing and recording graduate observations today.</h6>
              <%= link_to 'Create a free account', new_user_registration_path, class: "button success radius" %>
            </div>
          </div><br/><br/>
      </div>
    </div>


  </div>
</div>


<% end %>